.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #111111;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
}

.header-image-link{
    height: 100%;
}

.header-image {
    height: 100%;
    margin-right: 6px;
}

.header-links {
    display: flex;
}

.header-navlist {
    list-style-type: none;
    direction : ltr;
    margin-right: 10px;
    padding-inline-start: 10px
}

.header-navlist li {
    display: inline;
    margin: 0px 10px;
}

.header-userlist {
    list-style-type: none;
    padding-inline-start: 10px
}

.header-userlist li{
    display: inline;
    margin: 0px 5px;
}

.header-link {
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover {
    color: #551a8b;
    text-decoration: underline;
}

.header-dropdown {
    position: relative;
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.header-dropdown:hover {
    color: #551a8b;
    text-decoration: underline;
}

.header-link-dropdown {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 160px;
}

.header-link-dropdown span {
    padding: 12px 16px;
    width: 100%;
}

.header-link-dropdown a {
    color: white;
    display: block;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
}

.header-link-dropdown a:hover {
    color: #6c3a9b;
    text-decoration: underline;
}

.header-dropdown:hover .header-link-dropdown {
    display: block!important;
}

.header-nav-seprator {
    padding-inline-start: 0px
}

.nav-selected {
    color: #6c3a9b;
}

.hero-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939;
}

.section-content {
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer-content p {
    margin: 0 0 10px;
}
  
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links li {
    display: inline;
    margin-right: 10px;
}
  
.footer-links li:last-child {
    margin-right: 0;
}
  
.footer-links a {
    color: #fff;
    text-decoration: none;
}
  
.footer-links a:hover {
    text-decoration: underline;
}